[submodule "deps/gapbs"]
	path = deps/gapbs
	url = https://github.com/sbeamer/gapbs.git
[submodule "deps/Catch2"]
	path = deps/Catch2
	url = https://github.com/catchorg/Catch2.git
	branch = origin/v2.x
